/* FOOTER */
.container-footer{
    background-color: $secondaryColor;
    clip-path: polygon(0 0, 49% 0, 51% 5%, 100% 5%, 100% 100%, 0 100%);
    footer {
        padding-top: 5px;
        max-width: 1280px;
        margin: auto;
        display:grid;
        grid-template-columns: 40% 20% 40%;
        .col1 {
            align-items: center;
            padding: 5%;
            img {
                width: 100%;
                border-radius: 10px;
            }
            .social{
                padding-bottom: 10px;
                color: white;
                text-align: center;
            }
        }
        .col2 {
            display: flex;
            text-align: center;
            align-items: center;
            color: white;
            justify-content: center;
            padding: 5px;
            font-size: 100%;
        }
        .col3 {
            display: flex;
            align-items: center;
            padding: 5%;
            justify-content: center;
            img {
                width: 100%;
                max-width: 350px;
                border-radius: 10px;
            }
        }
    }
}


@media (max-width: 700px){
    footer {
        grid-template-columns: 1fr;
        clip-path: polygon(0 0, 49% 0, 51% 2%, 100% 2%, 100% 100%, 0 100%);
    }
}

