/* NAVIGATION */

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:#D7DBDD;
    max-width: 1280px;
    margin: auto;
}
.page {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
/* NAVEGACION   minuto 16:00 */
.container {
    display: flex;
    grid-template-columns: 100%;
    width: 100%;

}
.brand {
    height: 70px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.nav-main {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $primaryColor;
    height: 100px;
    margin-bottom: -1.5%;
    z-index: 1;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 100%, 49% 90%, 0 90%);
}
nav ul {

    display: flex;
    align-items: flex-end;
    li {
        list-style: none;
        padding: 10px;
        margin-bottom: 5px;
        a {
            text-decoration: none;
            color:white;
            padding: 5px;
            margin: 2px
        }
        a:hover {
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: 5px;
        }
    }
}
@media (max-width: 700px) {
    .nav-main {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 100%, 49% 95%, 0 95%);

    }
}
