
.slideimg {
    width: 100%;
};

.slide-content{
    position: relative;
    z-index: 0;
    max-width: 1280px;
    margin: auto;
    .slide-1{
        .slide-tittle-1{
            font-size: 200%;
            position: absolute;
            bottom: 1%;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 20px 20px 15px 50px;
            color: white;
            border-radius: 0 15px 15px 0;
            p{
                color: white;
            }
        }
    }
    .slide-2{
        .slide-tittle-2{
            font-size: 200%;
            position: absolute;
            bottom: 1%;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 20px 20px 15px 50px;
            color: white;
            border-radius: 0 15px 15px 0;
            p{
                color: white;
            }      
        }
    }
}
@media (max-width: 1280px){
    .slide-content{
        .slide-1{
            .slide-tittle-1{
                font-size: 120%;
            }
        }
        .slide-2{
            .slide-tittle-2{
                font-size: 120%;
            }
        }
    }
}
@media (max-width: 700px){
    .slide-content{
        .slide-1{
            .slide-tittle-1{
                font-size: 50%;
            }
        }
        .slide-2{
            .slide-tittle-2{
                font-size: 50%;
            }
        }
    }
}